@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 700px)  {
    :root {
        --bg-url: url(../img/bg-desktop.jpg);
        height: 100vh;
    }

    .light {
        --bg-url: url(../img/bg-desktop-light.jpg);
        height: 100vh;
    }
}